dj-static==0.0.6
Django==2.0.2
django-toolbelt==0.0.1
gunicorn==19.7.1
pytz==2017.3
static3==0.7.0
virtualenv==15.1.0
django-cors-headers==2.1.0
dj-database-url==0.4.2
whitenoise==3.3.1
django-rest-framework==0.1.0
django-webpack-loader==0.5.0
django-debug-toolbar==1.9.1